<template src='./404.html' lang='html'>
</template>
<!--<script src="js/iniciarsessio.js"></script>-->
<script>
// Component per les rutes inexistents de l'aplicació
export default {
  name: 'Assoliments',
  data() {
    return {
      usuari: ""
    }
  }
}
</script>