<div class="container borderregist mt-5">
    <div class="row m-5">
        <div class="col-sm text-center">
            <h3>Configuració del Perfil</h3>
            <a href="configuracio"><i class="bi-lg bi-gear-fill" style="font-size: 10rem; color: black;"></i></a>
        </div>
        <div class="col-sm text-center">
            <h3>Assoliments</h3>
            <a href="assoliments"><i class="bi bi-award" style="font-size: 10rem; color: black;"></i></a>
        </div>
        <div class="col-sm text-center">
            <h3>Sortir de la sessió</h3>
            <a class="clicklable" v-on:click="tancarSessio"><i class="bi bi-door-open" style="font-size: 10rem; color: black;"></i></a>
        </div>
    </div>
</div>