<template src='./Usuari.html' lang='html'>
</template>
<!--<script src="js/iniciarsessio.js"></script>-->
<script>

export default {
  name: 'Usuari',
  data () {
    return { }
  },
  methods: {
    // Mètode per tancar la sessió i netejar el local storage. Es redirecciona a la pantalla de login.
    tancarSessio() {
      this.$session.destroy();
      localStorage.clear();
      this.$router.push({ path: "/" });
    }
  }
}
</script>
