<template src='./Registre.html' lang='html'>
</template>
<script>
  
</script>
<script>
import auth from "@/logic/auth";

export default {
  name: 'registre',
  data() {
    return {
      //Informació del usuari per registrar
      usuari: {
        nick :"",
        email:"",
        contrasenya:"",
        repcontrasenya:"",
        rol:"",
        imatge:"img/form1/negro.png"
      },
      //Color del perfil del usuari
      colorperf:"negro",
      //Forma del perfil de l'usuari
      formaperf:"form1"
    };
  },
  methods: {
    //Metode per registrar al nou usuari, accedint al fitxer 'auth' on es troba el metode complert
    async registre() {
      var self = this;
      console.log(this.usuari.rol)
      await auth.registre(this.usuari.nick,this.usuari.email, this.usuari.contrasenya, this.usuari.rol, this.usuari.imatge, self);
    },
    //metode per verificar els camps del nou usuari
    validar: function(e){
      document.getElementById("errorPass").style.display = "none";
      document.getElementById("errorPass2").style.display = "none";
      var validate = true;
      //Contrasenyes iguales
      if(this.usuari.contrasenya != this.usuari.repcontrasenya){
        validate=false;
        document.getElementById("errorPass").style.display = "inline";
      }
      //Mida de la contrasenya
      if(this.usuari.contrasenya.length < 7){
        validate=false;
        document.getElementById("errorPass2").style.display = "inline";
      }
      console.log(validate);
      //Si es valid, es fa el registre
      if(validate){
        console.log("VALIDACIÓ CORRECTA");
        this.registre();
      }
      e.preventDefault();
    },
    //canvi de la forma del perfil
    changeform(form){
      this.formaperf=form;
      this.changeimage();
    },
    //canvi del color del perfil
    changecolor(color){
      this.colorperf=color;
      this.changeimage();
    },
    //s'efectua el canvoi del perfil
    changeimage(){
      console.log(this.formaperf);
      console.log(this.colorperf);
      var image = document.getElementById("imagePerfil");
      image.src = "img/"+this.formaperf+"/"+this.colorperf+".png";
      this.usuari.imatge="img/"+this.formaperf+"/"+this.colorperf+".png";
    },
    //torna a la pantalla anterior
    enrere() {
      window.history.back();
    }
  }
}
</script>
