<div class="container mt-5 borderregist">
    <h1 class="registreTitol mt-5">Registrar-se</h1>
    <form action class="form" @submit.prevent="validar" id="Registre">
        <div class="row m-5">
            <div class="col-6">
                <div class="row mt-5">
                    <div class="col-4">
                      <label class="form-label" for="#nick">Nick:</label>
                    </div>
                    <div class="col-8">
                      <input type="text" id="nick" name="nick" required v-model="usuari.nick" class="inputtext" placeholder="Nick">
                      <label class="error" id="errorNick" style="display:none">Aquest nick ja existeix</label>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-4">
                      <label class="form-label" for="#email">Email:</label>
                    </div>
                    <div class="col-8">
                      <input type="email" id="email" name="email" required v-model="usuari.email" class="inputtext" placeholder="Email">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-4">
                      <label class="form-label" for="#contrasenya">Contrasenya: </label>
                    </div>
                    <div class="col-8">
                      <input type="password" id="contrasenya" name="contrasenya" required v-model="usuari.contrasenya" class="inputtext" placeholder="Longitud mínima: 7 caràcters">
                      <p><label class="error" id="errorPass" style="display:none">Les contrasenyes no coincideixen</label></p>
                      <p><label class="error" id="errorPass2" style="display:none">Mínim 7 caràcters de longitud</label></p>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-4">
                      <label class="form-label" for="#repcontrasenya">Repetir contrasenya:</label>
                    </div>
                    <div class="col-8">
                      <input type="password" id="repcontrasenya" name="repcontrasenya" required v-model="usuari.repcontrasenya" class="inputtext" placeholder="Repetir contrasenya">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-4">
                        <label class="form-label" for="#rol">Rol d'usuari:</label>
                    </div>
                    <div class="col-8">
                        <select id="rol" name="rol" required v-model="usuari.rol">
                            <option selected="true" value="jugador">Jugador</option>
                            <option value="admin">Administrador</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-4 offset-1">
                <div class="row">
                    <div class="col-6 offset-3">
                        <img src="img/form1/negro.png" class="imagePerfil" id="imagePerfil">
                    </div>
                </div>
                <div class="row mt-5" id="formesperfil">
                    <div class="col-2">
                        <img src="img/form1/negro.png" class="avatarform" name="figura" v-on:click="changeform('form1')">
                    </div>
                    <div class="col-2">
                        <img src="img/form2/negro.png" class="avatarform" name="figura" v-on:click="changeform('form2')">
                    </div>
                    <div class="col-2">
                        <img src="img/form3/negro.png" class="avatarform" name="figura" v-on:click="changeform('form3')">
                    </div>
                    <div class="col-2">
                        <img src="img/form4/negro.png" class="avatarform" name="figura" v-on:click="changeform('form4')">
                    </div>
                    <div class="col-2">
                        <img src="img/form5/negro.png" class="avatarform" name="figura" v-on:click="changeform('form5')">
                    </div>
                    <div class="col-2">
                        <img src="img/form6/negro.png" class="avatarform" name="figura" v-on:click="changeform('form6')">
                    </div>
                </div>
                  <div class="row mt-5" id="colorsperfil">
                    <div class="col-2">
                        <div name="color" class="black" v-on:click="changecolor('negro')"></div>
                    </div>
                    <div class="col-2">
                        <div name="color" class="purple" v-on:click="changecolor('lila')"></div>
                    </div>
                    <div class="col-2">
                        <div name="color" class="turc" v-on:click="changecolor('turc')"></div>
                    </div>
                    <div class="col-2">
                        <div name="color" class="red" v-on:click="changecolor('rojo')"></div>
                    </div>
                    <div class="col-2">
                        <div name="color" class="yellow" v-on:click="changecolor('amarillo')"></div>
                    </div>
                    <div class="col-2">
                        <div name="color" class="white" v-on:click="changecolor('blanco')"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5 mb-5">
            <div class="col-2 offset-6">
                <button class="buttonSub" v-on:click="enrere()">Cancel·lar</button>
            </div>
            <div class="col-2 offset-1">
                <input type="submit" class="buttonSub" name="Registrar" value="Registrar-se">
            </div>
        </div>  
    </form>
</div>