<template src='./Cercamines.html' lang='html'>
</template>

<script>
import UsuariDataService from "../../services/usuariDataService";
import RanquingDataService from "../../services/ranquingDataService";

/*-----------------------------------------------------------------------------
------------ALGORITME DEL CERCAMINES-----------------------------------------*/

function getAroundIdx(rowCount, i, j) {
    let indices = [];

    // top-left
    if (i > 0 && j > 0) {
    indices.push([i - 1, j - 1]);
    }
    // top
    if (i > 0) {
    indices.push([i - 1, j]);
    }
    // top-right
    if (i > 0 && j < rowCount - 1) {
    indices.push([i - 1, j + 1]);
    }
    // left
    if (j > 0) {
    indices.push([i, j - 1]);
    }
    // right
    if (j < rowCount - 1) {
    indices.push([i, j + 1]);
    }
    // bottom-left
    if (i < rowCount - 1 && j > 0) {
    indices.push([i + 1, j - 1]);
    }
    // bottom
    if (i < rowCount - 1) {
    indices.push([i + 1, j]);
    }
    // bottom-right
    if (i < rowCount - 1 && j < rowCount - 1) {
    indices.push([i + 1, j + 1]);
    }

    return indices;
}

// around === -1 => there is a bomb
function newBoard(rowCount, bombCount) {
    // init
    let board = [];
    for (let i = 0; i < rowCount; i++) {
    board[i] = [];
    for (let j = 0; j < rowCount; j++) {
        board[i][j] = { around: 0, isMark: false, isClear: false };
    }
    }

    // add bombs
    while (bombCount > 0) {
    let randRow = Math.floor(Math.random() * rowCount);
    let randCol = Math.floor(Math.random() * rowCount);

    if (board[randRow][randCol].around !== -1) {
        board[randRow][randCol].around = -1;
        bombCount--;
    }
    }

    // set around
    for (let i = 0; i < rowCount; i++) {
    for (var j = 0; j < rowCount; j++) {
        if (board[i][j].around === -1) {
        getAroundIdx(rowCount, i, j).forEach(pos => {
            if (board[pos[0]][pos[1]].around !== -1) {
            board[pos[0]][pos[1]].around ++;
            }
        })
        }
    }
    }

    return board;
}

function recurClear(row, col, cells, visitedPoses) {
    visitedPoses = visitedPoses || [];

    getAroundIdx(cells.length, row, col).forEach(pos => {
        if (!visitedPoses.some(p => p[0] === pos[0] && p[1] === pos[1])) {
            visitedPoses.push(pos);

            let [x, y] = pos;
            if (cells[x][y].around === 0) {
            cells[x][y].isClear = true;
            recurClear(x, y, cells, visitedPoses);
            } else if (cells[x][y].around > 0) {
            cells[x][y].isClear = true;
            }
        }
    });
}

//CRONÒMETRE-------------------------------------------
//-----------------------------------------------------
function timeToString(time) {
  let diffInHrs = time / 3600000;
  let hh = Math.floor(diffInHrs);

  let diffInMin = (diffInHrs - hh) * 60;
  let mm = Math.floor(diffInMin);

  let diffInSec = (diffInMin - mm) * 60;
  let ss = Math.floor(diffInSec);

  let diffInMs = (diffInSec - ss) * 100;
  let ms = Math.floor(diffInMs);

  let formattedMM = mm.toString().padStart(2, "0");
  let formattedSS = ss.toString().padStart(2, "0");
  let formattedMS = ms.toString().padStart(2, "0");

  return `${formattedMM}:${formattedSS}:${formattedMS}`;
}

// variables usades a les funcions següents

let startTime;
let elapsedTime = 0;
let timerInterval;

// funció per modificar l'innerHTML del cronometre

function print(txt) {
  document.getElementById("display").innerHTML = txt;
}

// funcions "start", "pause" i "reset"

function start() {
  startTime = Date.now() - elapsedTime;
  timerInterval = setInterval(function printTime() {
    elapsedTime = Date.now() - startTime;
    print(timeToString(elapsedTime));
  }, 10);
}

function pause() {
  clearInterval(timerInterval);
}

function reset() {
  clearInterval(timerInterval);
  print("00:00:00");
  elapsedTime = 0;
  console.log("reset")
}

export default {
    name: 'Cercamines',
    data() {
        const rowCount = 10;
        const bombCount = 10;
        var comptador = 0;
        var tempsTotal = "";

        return { 
          bombCount,
          comptador,
          tempsTotal,
          rowCount,
          cells: newBoard(rowCount, bombCount) 
        }
    },
    methods: {
      //Mètode per mostra la cel·la depenent de si es marca bomba o es vol obrir
        showCell(cell) {
          if (cell.isMark) {
            return '❗';
          } else if (cell.isClear) {
            if (cell.around === -1) {
              return '💣';
            } else if (cell.around > 0) {
              return cell.around;
            } else {
              return '';
            }
          } else {
            return '';
          }
        },
        // Comprovar si s'ha guanyat la partida
        checkWin() {
          let { cells } = this.$data;
          let length = cells.length;
          let unclearBombCount = 0;

          for (let i = 0; i < length; i++) {
            for (let j = 0; j < length; j++) {
              let cell = cells[i][j];

              // not all clear 
              if (cell.around !== -1 && !cell.isClear) {
                return false;
              }

              if (!cell.isClear && cell.around === -1) {
                unclearBombCount++;
              }
            }
          }

          return unclearBombCount == this.bombCount;
        },
        // Obrir cel·la
        flip(i, j, cell) {
          var modal = document.getElementById("myModal");
          var dificultat = document.getElementById("dificultat").value
          var guanyar = document.getElementById("guanyar");
          if(dificultat == "10") {
            dificultat = "facil"
          } else if (dificultat == "15") {
            dificultat = "mitjana"
          } else {
            dificultat = "dificil"
          }
          if(this.comptador == 0) {
            start();
          }
          this.comptador++
          
          if (cell.isMark) {
            cell.isMark = false;
            return;
          }

          cell.isClear = true;

          if (cell.around === -1) {
            // Si es perd la partida
            pause();
            this.tempsTotal = "";
            this.clearAll();
            return;
          } else {
            // spread around
            if (cell.around === 0) {
              recurClear(i, j, this.cells);
            }

            if (this.checkWin()) {
              // Si es guanya la partida, es guarda el temps i mostra el Pop Up de victòria
              pause();
              this.tempsTotal = document.getElementById("display").innerHTML
              this.comprovaTemps(this.tempsTotal, dificultat);
              this.clearAll();
              guanyar.src = "img/Cercamines/win.png";
              console.log(this.tempsTotal);
              modal.style.display = "block";
            }
          } 
        },
        clearAll() {
          // Mètode per mostrar tot el tauler un cop es perd
          let { cells } = this.$data;
          let length = cells.length;

          for (let i = 0; i < length; i++) {
            for (let j = 0; j < length; j++) {
              cells[i][j].isClear = true;
            }
          }
        },
        mark(cell, event) {
          //Mètode per marcar les cel·les
          cell.isMark = !cell.isMark;

          event.preventDefault();
        },
        restart() {          
          this.cells = newBoard(this.rowCount, this.bombCount);
          this.comptador = 0;
          reset();
        },
        async comprovaTemps(time, dif) {
          // Mètode per afegir el temps de partida al rànquing general
          
          var usuariData = await UsuariDataService.getUsuari(this.$session.get("id"));
          var usuari = usuariData.data[0]
          var newRanquing = {
            nick: usuari.nick,
            temps: time,
            dificultat: dif
          }
          RanquingDataService.postRanquing(newRanquing);
          console.log("POST RANQUING")
        },
        onChange:function(event){
          this.bombCount = event.target.value;
          this.cells = newBoard(this.rowCount, this.bombCount);
          this.comptador = 0;
          reset();
        }
    },
    mounted(){
    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];
    // Tancar la finestra flotant al clicar la (X)
    span.onclick = function() {
        modal.style.display = "none";
    }
    // Tanca la finestra emergent al clicar fora de la finestra
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
   }

}
</script>
