<div class="container borderregist mt-5" style="width: 1800px; margin-top: 40px; padding-top: 20px; padding-left: 20px;">
    <h2 style="text-align: center;">Cercamines</h2>
    
    <div class="row m-5">
        <div class="col-sm text-center">
            <div v-for="(row, i) in cells" :key="i">
                <div v-for="(cell, j) in row" :key="j" :class="['cell', cell.isClear ? 'clear' : '']" @click="flip(i, j, cell)" @contextmenu="mark(cell, $event)" >
                    {{ showCell(cell) }}
                </div>
            </div>
        </div>
        <div style="margin-top: 40px;">
            <div>
                <label>Dificultat:</label>&emsp;
                <select id="dificultat" v-model="bombCount" @change="restart()">
                    <option selected="true" value="10">Fàcil</option>
                    <option value="15">Mitjana</option>
                    <option value="20">Difícil</option>
                </select>
            </div>
            <br><br>
            <span class="time" id="display">00:00:00</span>
            <br><br><br>
            <button class="buttonSub" id="reset" @click="restart">Reiniciar</button>
            <br><br><br><br><br><br>
            <button class="buttonSub" id="enrere" onclick="window.location.href='/jocs'">Enrere</button>
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content-final">
            <span class="close">&times;</span>
            <br><br>
            <img src="" class="guanyar" id="guanyar">
            <h2 class="popUpTitol">El teu temps: {{tempsTotal}}</h2> 
        </div>    
    </div>
</div>
