/*
Theme Name:    Photographer
Theme URI:     http://ThemeWagon.com/photographer
Author:        ThemeWagon
Author URI:    http://ThemeWagon.com/
Description:   Photographer is a single page html template based on bootstrap 3
Version:       1.0.0
License:       GNU General Public License v2 or later
License URI:   http://www.gnu.org/licenses/gpl-2.0.html
*/




/* ========================================================================== 
    General 
========================================================================== */


a {
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

a {
    color:#34c8b2;
}

a:hover {
    color:#5F3ACA;
    text-decoration: none;
}
.btn-o {
    border:1px solid #34c8b2;
    /*border-radius*/
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    color:#34c8b2;
}

.btn-o:hover {
    color:white;
    background:#34c8b2;
}

img {
    max-width:100%;
    max-height: 100%;
}

.hexagon {
    width:60px;
    height:30px;
    background:#3acab1;
    position:relative;
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.hexagon:before {
    content:"";
    position:absolute;
    top:-15px;
    left:0;
    width:0;
    height:0;
    border-left:30px solid transparent;
    border-right:30px solid transparent;
    border-bottom:15px solid #3acab1;
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.hexagon:after {
    content:"";
    position:absolute;
    bottom:-15px;
    left:0;
    width:0;
    height:0;
    border-left:30px solid transparent;
    border-right:30px solid transparent;
    border-top:15px solid #3acab1;
    /*transition*/
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.hexagon:hover {
    background:#5F3ACA;
}

.hexagon:hover:before {
    border-bottom-color:#5F3ACA;
}

.hexagon:hover:after {
    border-top-color: #5F3ACA;
}


/* ========================================================================== 
Navigation 
========================================================================== */
.navbar-dark {
    background:#222222;
    height: 9%;
}

.navbar-brand {
    padding:20% 25%;
}

.navbar-nav>li>a {
    padding-top:25px;
    padding-bottom:25px;
}

.navbar-brand strong {
    color:white;
    margin-right:2px;
}

.navbar-brand:hover {
    color:#5F3ACA;
    text-decoration:none;
}

.nav>li>a:hover,.nav>li>a:focus {
    background-color:#5F3ACA;
    color: white;
}


/* ========================================================================== 
Caurosel
========================================================================== */
.carousel-control {
    z-index:9999;
}

.carousel-control>img {
    position:absolute;
    top:42%;
    width:30%;
}

.left.carousel-control>img {
    left:30%;
}

.right.carousel-control>img {
    right:30%;
}

.camera-icon {
    position:absolute;
    width:100%;
    left:0;
    top:0;
    text-align:center;
    z-index:99;
    padding-top: 9%;
}

.camera-icon .circle {
    width:200px;
    height:200px;
    line-height:200px;
    display:inline-block;
    /*border-radius*/
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
    border:1px solid white;
    position:relative;
    color:white;
    opacity:.85;
}

.camera-icon .circle i {
    color:white;
    position:absolute;
    z-index:1;
    left:28px;
    top:8px;
    font-size:38px;
}

.camera-icon .circle .hexagon {
    display:inline-block;
    margin-top:25px;
    position: relative;
}


/* ========================================================================== 
content-block 
========================================================================== */
.content-block {
    padding:60px 0;
    width:100%;
}

.content-block-cyan {
    background:#34c8b2;
    color:#ECF0F1;
}

.content-block-cyan h1 {
    font-weight:100;
    text-transform:uppercase;
    margin-bottom: 30px;
}


/* ========================================================================== 
Recent works
========================================================================== */
.recent-projects-title {
    background: rgba(236, 240, 241, 1);
    color: #333;
    text-transform: uppercase;
    padding: 40px 0px;
    text-align: center;
    font-size: 62px;
    font-family: 'News Cycle', sans-serif;
    word-spacing: 17px;
    letter-spacing: 4px;
    font-weight: 400;
}

.owl-carousel .owl-item img {
    height:auto;
    width:100%;
    display:block;
    position:relative;
}

.owl-carousel .item {
    margin:0px;
}

.owl-item>div {
    position:relative;
}

.owl-item>div a {
    position:absolute;
    bottom:0px;
    padding:8px;
    background:rgba(0,0,0,0.75);
    right:0;
    color:white;
    text-transform:uppercase;
    z-index: 2;
}

.owl-carousel .owl-item div:before {
    top:0;
    right:0;
    bottom:0;
    left:0;
    position:absolute;
    content:'';
    background:rgba(5,27,26,1);
    z-index:1;
    opacity:0.5;
    /*transition*/
    -webkit-transition:opacity 0.4s;
    -moz-transition:opacity 0.4s;
    -o-transition:opacity 0.4s;
    transition:opacity 0.4s;
}

.owl-carousel .owl-item:hover div:before {
    opacity: 0;
}

.owl-theme .owl-controls .owl-page span {
    background: #34C8B2;
}


/* ========================================================================== 
blog 
========================================================================== */
.block-heading h1 {
    margin-top:0;
}

.content-block-gray {
    background:#ECF0F1;
}

.block-heading {
    margin-bottom: 60px;
}


/* ========================================================================== 
Social
========================================================================== */
#social {
    padding:0px 0px;
    
}

#social .hexagon {
    display:inline-block;
}

#social .hexagon i {
    font-size:25px;
    color:white;
    line-height:25px;
    position:relative;
    z-index: 1;
}


/* ========================================================================== 
footer
========================================================================== */
footer.content-block {
    position: fixed;
    bottom: 0;
    padding: 25px 0 38px;
    width: 100%;
    height: 9%;
}

.content-block-dark {
    background:#222222;
}

footer {
    text-align:center;
    color: rgb(153,160,162);
}


/* ========================================================================== 
Responsive styles
========================================================================== */

@media (max-width:768px) {
    .navbar-nav>li>a {
        padding-top:10px;
        padding-bottom:10px;
        text-align:center;
    }
    .navbar-toggle i {
        color:rgb(153,160,162);
    }
    .navbar-toggle {
        margin-top:14px;
    }
    .recent-projects-title {
        font-size:32px;
    }
    .blog-post {
        margin-bottom:40px;
    }
    #social .hexagon {
        margin-bottom:60px;
    }
    #social {
        padding-bottom: 70px;
    }
}

/* ========================================================================== 
Creados
========================================================================== */

html, body{
  height:100%;
  background-color: #3acab1;
}

.logo{
    margin-top: 5px;
    height: 75px;
    display: flex;
    margin-left: 45%;
}
/*==================================
Registre
===================================*/

.borderregist{
    border-radius: 25px;
    border: 2px solid black;
    background-color: #D0F5EE;
}

.registreTitol{
    font-weight: bold;
    text-align: center;
}
.inputtext{
    border-radius: 4px;
    width: 100%;
}
.avatarform{
    height: 50px;
    width: 100%;
    border-radius: 4px;
}
.yellow{
    background-color: yellow;
    height: 25px;
    border-radius: 5px;
    border: 2px solid black;
    width: 100%;
}
.turc{
    background-color: #3acab1;
    border-radius: 5px;
    border: 2px solid black;
    height: 25px;
    width: 100%;
}
.black{
    background-color: black;
    border-radius: 5px;
    border: 2px solid black;
    height: 25px;
    width: 100%;
}
.white{
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    height: 25px;
    width: 100%;
}
.red{
    background-color: red;
    border-radius: 5px;
    border: 2px solid black;
    height: 25px;
    width: 100%;
}
.purple{
    background-color: #5F3ACA;
    border-radius: 5px;
    border: 2px solid black;
    height: 25px;
    width: 100%;
}

.buttonSub{
    width: 100%;
    border-radius: 5px;
    height: 35px;
    background-color: #bbfaef;
}

.buttonSub:hover{
    width: 100%;
    border-radius: 5px;
    height: 35px;
    background-color: #d6c9fd;
}

.layoutStyle{
    height: 100%;
}

.error{
    color: red;
    display: none;
}

.titolJoc{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .imageJoc{
      border-radius: 25px;
      width: 100%;
      min-height: 100%;
  }
  
  .borderJocs{
      border-radius: 25px;
      border: 2px solid black;
      background-color: #98e9dd;
      padding-bottom: 5%;
  }
  .borderjocimg{
    border-radius: 25px;
    border: 2px solid black;
    background-color: #ffffff;
    padding-bottom: 5%;
  }
  .borderjoc{
    border-radius: 25px;
    border: 2px solid black;
    background-color: #a58cf0;
    padding-bottom: 5%;
  }

  .logintop{
    border-radius: 5px;
    height: 35px;
    margin-right: 25px;
    background-color: #59dbc6;
  }

  .logintop:hover{
    border-radius: 5px;
    height: 35px;
    background-color: #a58cf0;
  }

/* ========================================================================== 
Pop Up
========================================================================== */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    width: 70%; /* Full width */
    height: 70%; /* Full height */
    margin-left: 15%;
}
  
  /* Modal Content */
  .modal-content {
    border-radius: 25px;
    background-color: #fefefe;
    margin: auto;
    padding-bottom: 50px;
    padding-top: 20px;
    border: 1px solid rgb(0, 0, 0);
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 0;
    margin-right: 15px;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 15px;
  }

  .popUpTitol{
    text-align: center;
}

.popUpImg{
    align-items: center;
    margin: 20%;
    width: 40%;
    height: 40%;
}

.buttonSales{
    width: 100%;
    border-radius: 10px;
    height: 35px;
    background-color: #dcd1fd;
}

.buttonSales:hover{
    width: 100%;
    border-radius: 10px;
    height: 35px;
    background-color: #b0f3e9;
}
.salesdiv{
    margin-left: 5%;
    margin-right: 5%;
}
  /* ========================================================================== 
Qui es Qui?
========================================================================== */


.borderquiesqui{
    border-radius: 25px;
    border: 2px solid black;
    background-color: #D0F5EE;
    width: 90%;
    height: 70%;
    margin-left: 5%;
    padding-bottom: 5%;
    position: absolute;
}
.borderquiesquiimages{
    border-radius: 5px;
    border: 2px solid black;
    background-color: #D0F5EE;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 80%;
    height: 110%;
}
.lineaquiesqui{
    height: 100%;
}

.imagequiesqui{
    height: 25%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #98e9dd;
}
.imageSeleccionar{
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: absolute;

    
}
.chat{
    border-radius: 5px;
    border: 2px solid black;
    background-color: #FFFFFF;
    height: 450px;
    margin-right: 5%;
    overflow: scroll;
    position:relative;
}
.quiesquimissatge{
    border-radius: 5px;
    height: 50px;
    border: 2px solid black;
    width: 100%;
}
.quiesquimissatgebuto{
    width: 85%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid black;
    margin-right: 5%;
    background-color: #98e9dd;
}
.quiesquimissatgebuto:hover{
    width: 85%;
    border-radius: 5px;
    border: 2px solid black;
    margin-right: 5%;
    background-color: #a58cf0;
}
.bordeimageselect{
    border-radius: 5px;
    border: 2px solid black;
    width: 70%;
    height: 100%;
    margin-left: -15%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 7%;
}
.imageseleccionatquiesqui{
    border-radius: 5px;
    border: 2px solid black;
    background-color: #D0F5EE;
    height: 100%;
    
}
.imageselecionada{
    border-radius: 5px;
    width: 100%;
    height: 150px;
    position: relative;
}

.endevinarpersonatge{
    width: 70%;
    margin-left: -15%;
    border-radius: 5px;
    border: 2px solid black;
    padding-right: 5%;
    background-color: #98e9dd;
}

.endevinarpersonatge:hover{
    width: 70%;
    margin-left: -15%;
    border-radius: 5px;
    border: 2px solid black;
    margin-right: 5%;
    background-color: #a58cf0;
}
.buttonsSiNo{
    margin-top: 65%;
}
.quiesquiSiNo{
    width: 100%;
    height: 125%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #98e9dd;
}

.quiesquiSiNo:hover{
    width: 100%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #a58cf0;
}

.pasartorn{
    width: 85%;
    height: 150%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #98e9dd;
}

.pasartorn:hover{
    width: 85%;
    height: 150%;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #a58cf0;
}

.missatgepropi{
    width: 90%;
    min-height: auto;
    border-radius: 10px;
    border: 4px solid #b9a5f3;
    background-color: #b0f3e9;
    margin-left: 10%;
    text-align: right;
    word-wrap: break-word;
    margin-top: 2%;
}

.missatgecontrari{
    width: 90%;
    min-height: auto;
    border-radius: 10px;
    border: 4px solid #b0f3e9;
    background-color: #b9a5f3;
    left: 0%;
    text-align: left;
    word-wrap: break-word;
    margin-top: 2%;    
}

.textopropio{
    text-align: right;
    margin-right: 5%;
}

.loading{
    display: block;
    width: 7%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.guanyar{
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


.modalGuanyar{
    height: 1000px;
    width: 100px;
}
.modalfinal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    margin-left: 10%;
    margin-right: 30%;
    top: 0;
    width: 60%; /* Full width */
    height: 60%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }

.modal-content-final{
    border-radius: 25px;
    background-color: #fefefe;
    padding-bottom: 50px;
    padding-top: 20px;
    margin: auto;
    border: 1px solid rgb(0, 0, 0);
    width: 65%;
    height: 90%;
  }

.quiesquiButTornar:hover{
    width: 10%;
    border-radius: 5px;
    height: 15%;
    right: 5%;
    background-color: #a58cf0;
  }

  .quiesquiButTornar{
    width: 10%;
    border-radius: 5px;
    height: 15%;
    margin-top: 45%;
    margin-left: 80%;
    background-color: #98e9dd;
  }
/*============================================
Flip
============================================*/
.flip-enter-active {
    transition: all 1.0s ease;
  }
  
.flip-leave-active {
    display: none;
  }
  
.flip-enter, .flip-leave {
    transform: rotateY(180deg);
  }

  /*==================================
CERCAMINES
===================================*/

.stopwatch {
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    width: 100%;
    padding-top: 25px;
}

.time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 48px;
}

.controls {
    display: flex;
    justify-content: space-between;
  
    width: 187px;
}

.cell {
    width: 50px;
    display: inline-block;
    line-height: 50px;
    height: 50px;
    text-align: center;
    margin: 3px;
    background-color: beige;
    border: 2px solid gray;
    vertical-align: middle;
}
.clear {
    background-color: white;
}


/* ========================================================================== 
Flash message
========================================================================== */

.flash {
    position: fixed;
    bottom: 80%;
    right: 50%;
  }
  
  /* ========================================================================== 
  404
  ========================================================================== */
  
  .button404{
      width: 10%;
      border-radius: 5px;
      height: 15%;
      background-color: #a58cf0;
  }
  
  .button404:hover{
      width: 10%;
      border-radius: 5px;
      height: 15%;
      background-color: #98e9dd;
  }
  
  .bi-controller{
      width: 95%;
      height: 97%;
  }

  /*================================================================================
  Altres
  ================================================================================*/
  .clicklable{
      cursor: pointer;
  }
  