<div class="container borderregist mt-5">
    <div class="row m-5" style="align-content: center;">
        <div class="col-sm text-center">
            <h2>Cercamines</h2>
            <div class="container borderregist mt-4 mr-4 p-3">
                <div class="col-sm text-left">
                    <!--DUMMY-->
                    <p><b>Millors temps:</b></p>
                    <p v-for="(temps, index) in usuari.millorTemps"
                    :key="index"><b>·</b> Dificultat {{temps.dificultat}}: {{temps.temps}}</p>
                </div>
            </div>
        </div>
        <div class="col-sm text-center">
            <h2>Qui és qui?</h2>
            <div class="container borderregist mt-4 ml-4 p-3">
                <div class="col-sm text-left">
                    <!--DUMMY-->
                    <p><b>·</b> Número de partides: <span id="numPart"></span></p>
                    <p><b>·</b> Número de victòries: <span id="numVict"></span></p>
                    <p><b>·</b> Percentatge de victòries: <span id="percent"></span>%</p>
                </div>
            </div>  
        </div>
    </div>
    <div class="row mt-5 mb-3">
        <div class="col-2 offset-9" >
            <button class="buttonSub" v-on:click="enrere()">Enrere</button>
        </div>
    </div>
</div>