<template src='./Assoliments.html' lang='html'>
</template>
<!--<script src="js/iniciarsessio.js"></script>-->
<script>

// Component de l'apartat d'Assoliments de l'usuari

import UsuariDataService from "../../services/usuariDataService";
import RanquingDataService from "../../services/ranquingDataService";

export default {
  name: 'Assoliments',
  data() {
    return {
      usuari: {
        nick :"",
        numPartides:"",
        millorTemps: [],
        numVictories:""
      }
    };
  },
  methods: {
    // mètode per obtenir les dades de joc de l'usuari i mostrar-les a la pàgina
    showSession: async function() {
      var userData = await UsuariDataService.getUsuari(this.$session.get("id"));
      var usuari = userData.data[0]
      var distinctData = await RanquingDataService.userDificultats(usuari.nick);
      var dificultats = distinctData.data
      dificultats.forEach(dif => {
        RanquingDataService.userMillorTempsDif(usuari.nick,dif).then((res)=>{
          console.log(res.data[0].temps)
          this.usuari.millorTemps.push({dificultat: dif, temps: res.data[0].temps})
        })
      });
      console.log(this.usuari.millorTemps)
      
      document.getElementById("numPart").innerHTML = usuari.numPartides;
      document.getElementById("numVict").innerHTML = usuari.numVictories;
      if(usuari.numPartides > 0) {
        document.getElementById("percent").innerHTML = (usuari.numVictories*100)/usuari.numPartides;
      } else {
        document.getElementById("percent").innerHTML = 0;
      }
      
    },
    enrere() {
      window.history.back();
    }
  },
  mounted() {
    //Mètodes que es carreguen abans de mostrar la pàgina
    this.showSession();
  }
}
</script>
