<div class="container borderregist mt-5">
    <h1 class="registreTitol mt-5"> Iniciar Sessió</h1>
    <div class="row m-5">
        <div class="col-6 offset-3">
            <form action class="form" @submit.prevent="login">
                <div class="row mt-5">
                    <div class="col-4">
                        <label class="form-label" for="#nick">Nick:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-input" id="nick" required v-model="usuari.nick" name="nick" placeholder="Nick">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-4">
                        <label class="form-label" for="#contrasenya">Contrasenya: </label>
                    </div>
                    <div class="col-8">
                        <input type="password" class="form-input" id="contrasenya" required v-model="usuari.contrasenya" name="contrasenya" placeholder="Contrasenya">
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-4 offset-4">
                        <input class="buttonSub" type="submit" value="Iniciar Sessió">
                        <label class="error" id="errorNick" style="display:none">Nick o contrasenya incorrectes</label>
                    </div>
                </div>
            </form>
            <div class="row mt-5">
                <div class="col-4 offset-4">
                    <button class="buttonSub" v-on:click="registre()">Registrar-se</button>
                </div>
            </div>
        </div>
    </div>
    <FlashMessage :position="'right top'"/>
</div>