<template src='./Login.html' lang='html'>
</template>
<!--<script src="js/iniciarsessio.js"></script>-->
<script>
import auth from "@/logic/auth";

export default {
  name: 'login',
  data() {
    return {
      //Informacio del login
      usuari: {
        nick :"",
        contrasenya:""
      }
    };
  },
  methods: {
    //Metode del login, accedint al fitxer 'auth' on es troba el metode complert
    async login() {
      var self = this;
      await auth.login(this.usuari.nick, this.usuari.contrasenya, self);
    },
    //canvi de pàgina a la de el registre
    registre() {
      this.$router.push("/registre");
    }
  }
}
</script>
