<div class="container mt-5 borderJocs">
    <div class="row">
    <div class="col-8">
    <h1 class="registreTitol mt-5"> Jocs</h1>
    <div class="row m-5">
        <div class="col-5 offset-1"
            v-for="(joc, index) in jocs"
            :key="index"
        >
            <div class="borderjoc">
                <div class="row titolJoc mt-2">
                    <strong>{{joc.nom}}</strong>
                </div>
                <div class="row">
                    <div class="col-8 offset-2 mt-2 borderjocimg">
                        <img class="imageJoc" v-bind:src="joc.imatge"/>
                    </div>
                </div>
                <div class="row mt-4 mb-3">
                    <div class="col-4 offset-6" v-if="joc.tipus == 'unjugador'">
                        <button class="buttonSub"  v-on:click="unjugador(joc.nom)" id="myBtn">Jugar</button>
                    </div>
                    <div class="col-4 offset-6" v-if="joc.tipus == 'multijugador'">
                        <button class="buttonSub" v-on:click="multijugador(joc.nom)" id="myBtn">Jugar</button>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    
    </div>


    <div class="col-4">
        <div id="carouselExampleControls" class="carousel slide col-8 " data-ride="carousel">
            <div class="carousel-inner rectangulo">
                <div class="carousel-item active">
                    <div class="col-12">
                        <h3 class="registreTitol mt-5"> Rànquing Cercamines: Fàcil</h3>
                        <div class="offset-2 mt-5">
                            <div class="row mt-3"
                                v-for="(ranq, indexr) in ranquingfacil"
                                :key="indexr"
                                >
                                <strong>{{indexr+1}} - {{ranq.nick}}:  {{ranq.temps}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12">
                        <h3 class="registreTitol mt-5"> Rànquing Cercamines: Mitjà</h3>
                        <div class="offset-2 mt-5">
                            <div class="row mt-3"
                                v-for="(ranq, indexr) in ranquingmitja"
                                :key="indexr"
                                >
                                <strong>{{indexr+1}} - {{ranq.nick}}:  {{ranq.temps}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-12">
                        <h3 class="registreTitol mt-5"> Rànquing Cercamines: Difícil</h3>
                        <div class="offset-2 mt-5">
                            <div class="row mt-3"
                                v-for="(ranq, indexr) in ranquingdificil"
                                :key="indexr"
                                >
                                <strong>{{indexr+1}} - {{ranq.nick}}:  {{ranq.temps}}</strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
         </div> 
    </div>
</div>


<div id="myModal" class="modal">
<div class="modal-content">
    <span class="close mb-3">&times;</span>
        <div class="container">
            <h1 class="registreTitol">Selecciona la Sala</h1>
            <div class="row borderregist salesdiv mt-4"
            v-for="(sala, indes) in sales"
            :key="indes">
                <div class="col-2 mt-3 mb-2 ml-5">
                    <h5>{{sala.nom}}</h5>
                </div>
                <div class="col-4 m-3">
                    <h5>{{sala.nomJoc}}</h5>
                </div>
                <div class="col-2 m-3">
                    <h5>{{sala.idUsuaris.length}}/{{sala.capacitat}}</h5>
                </div>
                <div class="col-2 mt-3">
                    <button class="buttonSales" v-on:click="entrasala(sala.nom)" id="myBtn">Entrar</button>
                </div>
            </div>
            
        </div>
    </div>

</div>
</div>
