<template src='./Jocs.html' lang='html'>
</template>
<!--<script src="js/iniciarsessio.js"></script>-->
<script>
import JocsDataService from "../../services/jocDataService";
import RanquingDataService from "../../services/ranquingDataService";
import SalaDataService from "../../services/salaDataService";

export default {
  name: 'Jocs',
  data() {
    return {
      //lista dels jocs
      jocs: [],
      //lista dels 10 primes en el ranquing facil
      ranquingfacil: [],
      //lista dels 10 primes en el ranquing mitja
      ranquingmitja: [],
      //lista dels 10 primes en el ranquing dificil
      ranquingdificil: [],
      //sales del joc multijugador
      sales: []
    };
  },
  methods: {
    //carega els jocs guardats en la base de dades
    mostrarJocs() {
      JocsDataService.getJocs()
        .then(response => {
          this.jocs = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    },
    //Carrega els ranquings de la base de dades
    carregarRanquing() {
      //Facil
      RanquingDataService.getRanquing("facil")
        .then(response => {
          response.data.forEach(ranking => {
          this.ranquingfacil.push(ranking);
          })
          
        })
        .catch(e => {
          console.log(e);
        });
      //Mitja
      RanquingDataService.getRanquing("mitjana")
        .then(response => {
          response.data.forEach(ranking => {
          this.ranquingmitja.push(ranking);
          })
          
        })
        .catch(e => {
          console.log(e);
        });
      //Dificil
      RanquingDataService.getRanquing("dificil")
        .then(response => {
          response.data.forEach(ranking => {
          this.ranquingdificil.push(ranking);
          })
          
        })
        .catch(e => {
          console.log(e);
        });
    },
    //Acció al clicar entrar a una sala
    entrasala(nomsala){
      //Obte la informacio de la sala en el moment de clicar
      SalaDataService.getSala(nomsala)
        .then(response => {
          var salainfo = response.data[0];
          console.log(salainfo.idUsuaris.length);
          //Si hi ha espai
          if(salainfo.idUsuaris.length < 2){
            console.log("valid");
            var usuari = {usuari :this.$session.get("id"),sala: nomsala};
            //afegeix el 'id' del usuari a la llista de la sala a la BD i el mou a la routa de la sala
            SalaDataService.nouUsuari(usuari).then(this.$router.push({ name: 'quiesqui', query: { sala: nomsala } }))
          }
          //La sala esta plena
          else{
            console.log("invalid");
          }
        })
        .catch(e => {
          console.log(e);
        });
    },
    //Mou al usuari a la routa del joc 'unjugador'(Cercamines)
    unjugador(nom){
      console.log("1 :"+nom);
      this.$router.push("/cercamines")
    },
    //Carrega les sales del joc multijugador(Qui es qui?) i les mostra
    multijugador(nom){
      var modal = document.getElementById("myModal");
      modal.style.display = "block";
      SalaDataService.getSalesJoc(nom)
        .then(response => {
          this.sales = response.data;
          console.log(response.data);
        })
        .catch(e => {
          console.log(e);
        });
    }
  },
  //accions al montar la pàgina
  mounted(){
    //carregar els jocs
    this.mostrarJocs();
    //Carregar els ranquings
    this.carregarRanquing();
    var modal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];
    // Tancar la finestra flotant al clicar la (X)
    span.onclick = function() {
        modal.style.display = "none";
    }
    // Tanca la finestra emergent al clicar fora de la finestra
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
   }
}
</script>
