<template src='./Quiesqui.html' lang='html'>
</template>

<!--<script src="js/iniciarsessio.js"></script>-->
<script>


import io from 'socket.io-client';
import SalaDataService from "../../services/salaDataService";
import UsuariDataService from "../../services/usuariDataService";

export default {
  name: 'Quiesqui',
  data () {
    return {
      //Personatge seleccionat
      personatge_seleccionat : "",
      //personatges del joc
      llista_de_personatges: [],
      //Si es la seleccio final
      selecciofinal: false,
      //el socket per conectar al servidor
      socket: null,
      //sala actual
      sala: null,
      //El joc comença
      startgame:false,
      //El torn(Teu o del contrincant)
      turno:true,
      //Si el contrincat ha seleccionat personatge(true o false)
      imagecontrincant:false,
      //Sie el joc ha finalitzat
      finaljoc: false
    }
  },
  /*
  * S'inicia al crear la pàgina
  * Inicia la connecció entre els sockets (client i servidor)
  * Comprova Si te deixa entrar
  */
  created() {
      //dictamina la sala actual
      this.sala = this.$route.query.sala;
      //Inicia la conneccio amb els socket del servidor
      this.socket = io('http://10.200.242.223:4001');
      this.socket.on('connect', () => {
        this.connect();
      });
      //Comprova el resultat si pot entrar a la sala
      // Si no pot torna a la pagina de jocs
      this.socket.on('entrar', (entrar) => {
        console.log("Nooooooooooooooo")
        if(!entrar){
          this.$router.push("/jocs")
        }
      });
  },
  methods: {
    //Primera conneccio pasant la sala i el 'id' del usuari
    connect() {
      console.log(this.$session.get("id"))
      this.socket.emit('connected',{id: this.$session.get("id"), sala: this.sala});
    },
    //Começa del joc
    start(){
      if(!this.startgame){
        console.log("Start Confirm");
        this.startgame=true;
      }
      
    },
    //Carrega les images dels personatges guardant-les a una variable
    carregarimages() {
      for(var i=1; i<=24;i++){
        this.llista_de_personatges.push({
          flipped: false,
          name: "Imatge"+i+".png",
          image: "img/Quiesqui/Imatge"+i+".png"
        });
      }
      console.log(this.llista_de_personatges);
      
    },
    //Acció efectuada al clicar una image de qui es qui dependent del moment
    // 1r - Selecció del teu personatge
    // 2n - Si es la selecció final
    // 3r- Si no està girat el personatge
    // 4t- Si el personatge està girat
    imageclicada(imageID){
      this.llista_de_personatges.forEach(personatge => {
        //Primera image clicada es guarda com a image seleccionada
        if(personatge.name.includes(imageID+".png")){
          if(this.personatge_seleccionat == ""){
            this.personatge_seleccionat=personatge.image;
             this.socket.emit('image', {
              sala: this.sala,
              img: imageID+".png",
              id: this.$session.get("id")
            });
            var sino = document.getElementById("sino");
            var final = document.getElementById("final");
            //inicia els botons corresponents si ets el primer en preguntar
            if(this.turno){
              sino.style.visibility = "hidden";
              final.style.visibility = "visible";
            }
            //inicia els botons corresponents si ets el segon en preguntar
            else{
              sino.style.visibility = "hidden";
              final.style.visibility = "hidden";
            }
          }
          //Selecció de la resposta final(el personatge del contrincant) si aquest no esta girat
          else if(this.selecciofinal && !personatge.flipped && this.imagecontrincant){
            this.socket.emit('final', {
              sala: this.sala,
              img: imageID+".png",
              id: this.$session.get("id")
            });
          }
          //Gira el personatge
          else if(!personatge.flipped && this.imagecontrincant){
            personatge.flipped = true;
            setTimeout(personatge.image="img/Quiesqui/CartaDarrera.png", 500);
          }
          //Mostra el personatge
          else if(personatge.flipped && this.imagecontrincant){
            personatge.flipped = false;
            setTimeout(personatge.image="img/Quiesqui/"+imageID+".png" , 500);
            
          }
      }
      })
    },
    // Envia la pregunta al contrincant i amaga el boto de resposta final
    enviarmissatge(){
      if(this.personatge_seleccionat!="" && this.imagecontrincant){
        var msg =document.getElementById("missatge").value;
        if(msg!=""){
        //Mostra el missatge al chat en format teu
        document.getElementById("chat").innerHTML += `<div class="missatgepropi"><p class="textopropio">${msg}</p></div>`;
        //Envia el missatge per la sala
        this.socket.emit('message', {
          sala: this.sala,
          message: msg
        });
        //Buida el text del missatge
        document.getElementById("missatge").value = "";
        //Amaga el boto de resultat final
        var final = document.getElementById("final");
        final.style.visibility = "hidden";
        this.selecciofinal = false;
        //canvia el fons de color si s'havia selecció final
        document.getElementById("fons").style.backgroundColor = "#D0F5EE";
        }
      }
    },
    //Mostrar missatge del contrincant
    mostrarmissatge(msg){
      document.getElementById("chat").innerHTML += `<div class="missatgecontrari"><p class="textopropio">${msg}</p></div>`;
      console.log("pre pastorn");
      console.log(msg);
      var sino = document.getElementById("sino");
      var final = document.getElementById("final");
      //Pass de torn
      if(this.turno){
        if(msg == "SI" || msg == "NO"){
        console.log("pastorn");
          this.turno = false;
          sino.style.visibility = "hidden";
          final.style.visibility = "hidden";
        }
      }
      //Mostra els botons re resposta
      else{
          this.turno = false;
          sino.style.visibility = "visible";
          final.style.visibility = "hidden";
      }
    },
    //envia la resposta('SI' o 'NO')
    enviarresposta(resposta){
      if(this.personatge_seleccionat!="" && this.imagecontrincant){
        document.getElementById("chat").innerHTML += `<div class="missatgepropi"><p class="textopropio">${resposta}</p></div>`;
        this.socket.emit('message', {
          sala: this.sala,
          message: resposta
        });
        //Canvi de torn a preguntar
        var sino = document.getElementById("sino");
        sino.style.visibility = "hidden";
        var final = document.getElementById("final");
        this.turno = true;
        final.style.visibility = "visible";
        console.log("meu");
      }
    },
    //Acció al clicar el boto de selecció final
    endevinarpersonatge(){
      if(!this.selecciofinal && this.imagecontrincant) {
        this.selecciofinal = true;
        document.getElementById("fons").style.backgroundColor = "#b9a5f3";
      }
      else {
        this.selecciofinal = false;
        document.getElementById("fons").style.backgroundColor = "#D0F5EE";
      }
    },
    //Resultat Final(Guanyat o Perdut)
    final(final){
      var guanyar = document.getElementById("guanyar");
      var modal = document.getElementById("myModal");
      //Mostra El resultat per pantalla
      modal.style.display = "block";
      this.finaljoc = true;
      //Guanyat
      if(final){
        guanyar.src = "img/Quiesqui/win.png";
      }
      //Perdut
      else{
        guanyar.src = "img/Quiesqui/lose.png";
      }
      //Enviar al servidor el resultat perque actualitzi la base de dades
      UsuariDataService.savepartida(this.$session.get("id"), {resultat: final});
    }
  },
  //accions al montar la pàgina
  mounted(){
      //carregar images de 'Qui es qui?'
      this.carregarimages();
      //Escoltar al socket 'missage'
      this.socket.on('message', (msg) => {
        this.mostrarmissatge(msg);
      });
      //Escoltar al socket 'start'
      this.socket.on('start', (msg) => {
        console.log(msg.start)
        if(msg.start){
          console.log("Pre Start")
          this.start();
        }
      });
      //Escoltar al socket 'primer'(Començar primer o segon)
      this.socket.on('primer', (primer) => {
        this.turno = primer;
      });
      //Escoltar al socket 'guanyar'(Si has guanyat o perdut)
      this.socket.on('guanyar', (guanyar) => {
        this.final(guanyar);
      });
      //Escoltar al socket 'imagecontrincant' (Informa si el contrincant ha decidit la imagte(true o false))
      this.socket.on('imagecontrincant', (image) => {
        this.imagecontrincant = image;
      });
      //event antes de tancar la finestra(fa el destroy de la pàgina)
      window.addEventListener('beforeunload', () => this.$destroy())
      //Informa al socket que ha cabat de montar la pàgina i pot iniciar el joc
      this.socket.emit('start',{sala : this.sala, id: this.$session.get("id")});
      
   },
   //Accions antes de destruir la pagina
   beforeDestroy() {
     var info = {sala: this.sala, id:this.$session.get("id")};
     console.log(info);
     //si el joc no ha finalizat, has perdut
     if(!this.finaljoc){
       //informar que has perdut
        this.socket.emit('final', {
          sala: this.sala,
          img: "img.png",
          id: this.$session.get("id")
        });
        console.log("entrarsalse");
        //Enviar informacio del final al servidor perque actualitzi partida
        UsuariDataService.savepartida(this.$session.get("id"), {resultat: false});
        this.$router.push("/jocs")
     }
     console.log("Leave");
     //llevar al usuari de la llista de 'idUsuaris' de la sala en la BD
     SalaDataService.llevarUsuari(info).then(this.socket.emit('leave',this.sala));
   }
}
</script>