<div v-if="bloquetg" class="container-fluid mt-5 borderquiesqui" id="bloquetg">
    <h1  class="registreTitol mt-5">Esperant a l'altre jugador</h1>
    <img src="img/Quiesqui/loading.gif" alt="Esperant al altre jugador"  class="loading" />
</div>
<div v-else-if="!bloquetg" class="container-fluid mt-5 borderquiesqui" id="fons">
    <h1 class="registreTitol mt-5">Qui es Qui?</h1>
    <div class="row mt-3">
        <div class="col-6">
            <div class="borderquiesquiimages">
                <div class="row lineaquiesqui">
                    <div class="col-2 imagequiesqui" v-for="(personatge, index) in llista_de_personatges"
                    :key="index">
                    <transition  name="flip">
                       <img v-bind:src="personatge.image" v-bind:key="personatge.flipped" v-bind:alt="personatge" v-bind:id="'Imatge'+(index+1)" v-on:click="imageclicada('Imatge'+(index+1))" class="imageSeleccionar">
                    </transition>
                </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-6">
                    <div class="row mt-3">
                        <div class="bordeimageselect">
                            <p>Personatge seleccionat</p>
                            <div class="col-10 offset-1 imageseleccionatquiesqui">
                                <img v-bind:src="personatge_seleccionat" alt="Seleciona una image" class="imageselecionada">
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5" id="final">
                        <button class="mt-5 endevinarpersonatge"  v-on:click="endevinarpersonatge()">Endevinar Personatge</button>
                    </div>
                </div>
                <div class="col-6">
                        <div class="row buttonsSiNo quiesquiMessage">
                            <p v-if="personatge_seleccionat == '' || !imagecontrincant"><strong>Esperant a que els 2 jugadors seleccionin un personatge</strong></p>
                        </div>
                        <div class="row mt-5 quiesquiMessage">
                            <p v-if="turno"><strong>Torn de preguntar.</strong></p>
                            <p v-if="!turno"><strong>Torn de respondre.</strong></p>
                        </div>
                        <div class="row mt-4" id="sino">
                            <div class="col-4">
                                <button class="quiesquiSiNo" v-on:click="enviarresposta('SI')">Si</button>
                            </div>
                            <div class="col-4 offset-2">
                                <button class="quiesquiSiNo" v-on:click="enviarresposta('NO')">No</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="chat" id="chat">
            
            </div>
            <div class="row">
                <div class="col-8">
                    <input type="text" id="missatge" class="quiesquimissatge" :disabled="!turno">
                </div>
                <div class="col-4">
                    <button v-on:click="enviarmissatge()" class="quiesquimissatgebuto">Enviar</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modalfinal">
        <div class="modal-content-final">
            <img src="" class="guanyar" id="guanyar">
            <button class="quiesquiButTornar" onclick="window.location.href='/jocs'">Tornar a Jocs</button>
        </div>
        
    </div>
</div>
