<template>
  <div id="app" class="layoutStyle">
    <div id="top" class="navbar navbar-dark" role="navigation">
      <a v-if="$router.currentRoute.path == '/' && $router.currentRoute.path == '/registre'" class="logo" href="/"><img src="img/logo.png"></a>
      <a v-else class="logo" href="/jocs"><img src="img/logo.png"></a>
      <button v-if="$router.currentRoute.path != '/' && $router.currentRoute.path != '/registre'" class="logintop" onclick="window.location.href='/usuari'">Perfil d'usuari</button>
    </div>
    <div class="bodystyle">
      <router-view />
    </div>
    <footer class="content-block content-block-dark">
      <div class="row">
        <div class="col-4">
            <p class="correu">Correu de contacte: info@caudejocs.cat</p>
        </div>
        <div id="social" class="content-block col-4">
            <div class="container text-center">
                <div class="hexagon"><a href="#"><i class="bi bi-facebook"></i></a></div>
                <div class="hexagon"><a href="#"><i class="bi bi-twitter"></i></a></div>
                <div class="hexagon"><a href="#"><i class="bi bi-instagram"></i></a></div>
            </div>
        </div>
        <div class="col-4">
            <p class="copyrigth">&copy; Copyright Photographer 2014. Theme by <a href="https://themewagon.com/" target="_blank"> ThemeWagon</a></p>
        </div>
      </div>
    </footer> 
  </div>
</template>

<script>
export default {
  name: "app"
};
</script>
