<div class="container mt-5 borderregist">
    <h1 class="registreTitol mt-5">Configuració de perfil</h1>
    
    <form id="Configuracio" @submit="validar">
      <div class="row m-5">
          <div class="col-6">
              <div class="row mt-5">
                  <div class="col-4">
                      <label>Nick:</label>
                  </div>
                  <div class="col-8">
                      <input type="text" id="nick" name="nick" required v-model="usuari.nick" class="inputtext">
                      <label class="error" id="errorNick" style="display:none">Aquest nick ja existeix</label>
                  </div>
              </div>
                <div class="row mt-5">
                  <div class="col-4">
                      <label>Email:</label>
                  </div>
                  <div class="col-8">
                      <input type=email id="email" name="email" required v-model="usuari.email" class="inputtext">
                  </div>
              </div>
                <div class="row mt-5">
                  <div class="col-4">
                      <label>Contrasenya: </label>
                  </div>
                  <div class="col-8">
                      <input type="password" id="contrasenya" name="contrasenya" v-model="usuari.contrasenya" class="inputtext" placeholder="Longitud mínima: 7 caràcters">
                      <p><label class="error" id="errorPass" style="display:none">Les contrasenyes no coincideixen</label></p>
                      <p><label class="error" id="errorPass2" style="display:none">Mínim 7 caràcters de longitud</label></p>
                  </div>
              </div>
                <div class="row mt-5">
                  <div class="col-4">
                      <label>Repetir contrasenya:</label>
                  </div>
                  <div class="col-8">
                      <input type="password" id="repcontrasenya" name="repcontrasenya" v-model="usuari.repcontrasenya" class="inputtext">
                  </div>
              </div>
          </div>
          <div class="col-4 offset-1">
            <div class="row">
                <div class="col-6 offset-3">
                    <img v-model="usuari.imatge" :src="usuari.imatge" class="imagePerfil" id="imagePerfil">
                </div>
            </div>
            <div class="row mt-5" id="formesperfil">
                <div class="col-2">
                    <img src="img/form1/negro.png" class="avatarform" name="figura" v-on:click="changeform('form1')">
                </div>
                <div class="col-2">
                    <img src="img/form2/negro.png" class="avatarform" name="figura" v-on:click="changeform('form2')">
                </div>
                <div class="col-2">
                    <img src="img/form3/negro.png" class="avatarform" name="figura" v-on:click="changeform('form3')">
                </div>
                <div class="col-2">
                    <img src="img/form4/negro.png" class="avatarform" name="figura" v-on:click="changeform('form4')">
                </div>
                <div class="col-2">
                    <img src="img/form5/negro.png" class="avatarform" name="figura" v-on:click="changeform('form5')">
                </div>
                <div class="col-2">
                    <img src="img/form6/negro.png" class="avatarform" name="figura" v-on:click="changeform('form6')">
                </div>
            </div>
              <div class="row mt-5" id="colorsperfil">
                <div class="col-2">
                    <div name="color" class="black" v-on:click="changecolor('negro')"></div>
                </div>
                <div class="col-2">
                    <div name="color" class="purple" v-on:click="changecolor('lila')"></div>
                </div>
                <div class="col-2">
                    <div name="color" class="turc" v-on:click="changecolor('turc')"></div>
                </div>
                <div class="col-2">
                    <div name="color" class="red" v-on:click="changecolor('rojo')"></div>
                </div>
                <div class="col-2">
                    <div name="color" class="yellow" v-on:click="changecolor('amarillo')"></div>
                </div>
                <div class="col-2">
                    <div name="color" class="white" v-on:click="changecolor('blanco')"></div>
                </div>
            </div>
        </div>
      </div>
      <div class="row mt-5 mb-5">
        <div class="col-2 offset-3">
            <button type="button" class="buttonSub" v-on:click="eliminar()">Eliminar Compte</button>
        </div>
          <div class="col-2 offset-1">
              <button type="button" class="buttonSub" v-on:click="enrere()">Enrere</button>
          </div>
          <div class="col-2 offset-1">
              <input type="submit" class="buttonSub" name="Modificar" value="Guardar canvis">
          </div>
      </div>
    </form>
    <FlashMessage :position="'right top'"/>
  </div>
