<template src='./Configuracio.html' lang='html'>
</template>
<script>
import UsuariDataService from "../../services/usuariDataService";
import RanquingDataService from "../../services/ranquingDataService";

export default {
  name: 'configuracio',
  data() {
    return {
      nickActual: "",
      usuari: {
        nick :"",
        email:"",
        contrasenya:"",
        repcontrasenya:"",
        rol:"",
        imatge:""
      },
      colorperf:"negro",
      formaperf:"form1"
    };
  },
  methods: {
    // mètode per obtenir les dades de joc de l'usuari i mostrar-les a la pàgina
    showSession: async function() {
      var usuariData = await UsuariDataService.getUsuari(this.$session.get("id"));
      var usuari = usuariData.data[0]
      console.log("USUARIDATA")
      console.log(usuari)
      this.nickActual = usuari.nick;
      this.usuari.nick = usuari.nick;
      this.usuari.email = usuari.email;
      this.usuari.imatge = usuari.imatge;
    },
    // mètode per modificar l'usuari al back-end i la base de dades. Obté els camps del formulari i fa update.
    async modificar() {
      console.log("hola");
      var data = {
        nick: this.usuari.nick,
        email:this.usuari.email,
        imatge: this.usuari.imatge,
        contrasenya: this.usuari.contrasenya
      };
      
      if(!this.usuari.contrasenya === null) {
        data.contrasenya = this.usuari.contrasenya;
      }

      console.log(data);
      await UsuariDataService.updateUsuari(this.$session.get("id"),data)
        .then(response => {
          if(response.data == "Ok"){
            console.log("Modificat");
            this.flashMessage.info({
              title: 'Perfil modificat!',
              message: "Els canvis s'han guardat exitosament"
            });
          }
        }).catch(err => {
        console.log("Error: " + err);
        document.getElementById("errorNick").style.display = "inline";
        return err;
    })
    },
    validar: function(e){
      // Validació de la contrasenya
      document.getElementById("errorPass").style.display = "none";
      document.getElementById("errorPass2").style.display = "none";
      var validate = true;
       if(this.usuari.contrasenya != this.usuari.repcontrasenya){
        validate=false;
        document.getElementById("errorPass").style.display = "inline";
      }
      if(this.usuari.contrasenya.length < 7){
        validate=false;
        document.getElementById("errorPass2").style.display = "inline";
      }
      console.log(validate);
      if(validate){
        console.log("Modificar");
        this.modificar();
      }
      console.log("error3");
      e.preventDefault();
    },
    //Mètodes per canviar la imatge de perfil
    changeform(form){
      this.formaperf=form;
      this.changeimage();
    },
    changecolor(color){
      this.colorperf=color;
      this.changeimage();
    },
    changeimage(){
      console.log(this.formaperf);
      console.log(this.colorperf);
      var image = document.getElementById("imagePerfil");
      image.src = "img/"+this.formaperf+"/"+this.colorperf+".png";
      this.usuari.imatge="img/"+this.formaperf+"/"+this.colorperf+".png";
    },
    enrere() {
      window.history.back();
    },
    eliminar() {
      // Mètode per eliminar el compte i tots els seus rànquings
      if(confirm("Segur que vols eliminar la compta?")){
        UsuariDataService.deleteUsuari(this.$session.get("id")).then(() => {
          this.flashMessage.info({
          title: 'Usuari eliminat!',
          message: "L'usuari s'ha eliminat exitosament!"
          });
          RanquingDataService.eliminarRanquingsUsuari(this.nickActual).then(() => {
            console.log("Ranquings eliminats");
            this.$session.destroy();
            localStorage.clear();
            this.$router.push({ path: "/" });
          })
        })
      }
    }
  },
  mounted(){
    this.showSession();
  }
}

</script>
